.chat-container {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 80vh;
    /* background-color: blue; */
}

.chat-history {
    width: 18vw;
    height: 70vh;
    overflow-y: auto;
    /* background-color: aqua; */
}

.chat-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: flex-end;
    width: 100%;
    height: 8vh;
    margin-top: 10px;
}

.chat-msg-container {
    height: auto;
    width: 10vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.chat-others-msg {
    width: 8vw;
    padding: 1vw;
    height: auto;
    background-color: #A6D13F;
    padding: 20px;
    border-radius: 4%;
}

.chat-my-msg {
    width: 8vw;
    padding: 1vw;
    height: auto;
    background-color: #D2B000;
    border-radius: 4%;
    position: relative;
    left: 8vw;
}

.chat-name {
    font-size: 1.5vh;
    height: 10px;
    margin-top: 0px;
}