.after-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    background-color: #fff;
}

.main-video {
    width: 100vw;
    position: absolute;
    opacity: 1;
}

.main-logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-logo {
    width: 40vw;
    z-index: 2;
    position: relative;
    margin-top: 5vh;
}

.main-login-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-login {
    position: relative;
    text-align: center;
    margin-top: 10vh;
    border-radius: 2%;
    background-color: #eee;
    height: 40vh;
    width: 35vw;
    padding: 5vh;
    padding-top: 100px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
}

.main-login-font {
    font-family: 'naver_light';
    font-size: 4vh;
    color: #333;
    letter-spacing: -3px;
}

.main-login-font span {
    font-size: 6vh;
    font-family: 'baemin';
}