body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
	font-family: "baemin";
	src: url(./assets/fonts/font1.ttf);
}

@font-face {
	font-family: "naver_bold";
	src: url(./assets/fonts/naver_bold.ttf);
}

@font-face {
	font-family: "naver_light";
	src: url(./assets/fonts/naver_light.ttf);
}

@font-face {
  font-family: "google1";
  src: url(./assets/fonts/google1.ttf);
}

@font-face {
  font-family: "tmon";
  src: url(./assets/fonts/tmon.ttf);
}


.root {
  margin : 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top:50px;
  padding-bottom:50px;
  
}

.upperBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  margin-bottom:50px;
  background-color: transparent;
}

.content {
  display: flex;
  flex-direction: row;
  justify-items: center;
}


.add {
  position: relative;
  animation: add-column 1s ease-in-out;
}

.sub {
  position: relative;
  animation: sub-column 1s ease-in-out;
  animation-fill-mode: forwards;
}


@keyframes add-column {
  from{
    left: -220px;
    opacity: 0;
  }
  to{
    left: 0px;
    opacity: 1;
  }
}

@keyframes sub-column {
  from{
    left: 0px;
    opacity: 1;
  }
  to{
    left: -220px;
    opacity: 0;
  }
}

.entry {
  background-color: #FA8F57;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: fixed;
}

.entryLogo {
  width: 35vw;
  z-index: 5;
}

.entry1 {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.entry2 {
  width: 50vw;
  height: 70%;
  background-color: #fff;
  border: solid;
  border-radius: 2%;
  border-width: 0px;
  border-color: #888;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 3;
}

.entry3 {
  font-family: 'baemin';
  font-size: 5vh;

}

.entry3-1 {
  position: absolute;
  display: flex;
  flex-direction: row;
}

.entry4 {
  position: relative;
  width: 25vw;
  height: 50vh;
  border-radius: 2%;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.7);
  z-index: 3;
  margin-right: 20vw;
  opacity: 0;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.entry4-1 {
  position: relative;
  z-index: 2;
  background-color: deepskyblue;
  height: 200vh;
  width: 80vw;
  top: -70vh;
  transform: rotate(20deg);
  right: 100vw;
}

.entry4-2 {
  font-family: baemin;
  font-size: 5vh;
  z-index: 4;
}

.entry4-3 {
  z-index: 6;
  width: 100vw;
  height: 200vh;
  background-color: #fff;
  position: relative;
  transform: rotate(20deg);
  top: -60vh;
  left: -100vw;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
}

.entry4-4 {
  width: 50vw;
  height: 200vh;
  position: absolute;
  z-index: 7;
  top: -20vh;
  margin-left: 110vw;
  background-color:#fff;
}

.entry4-5 {
  width: 30vw;
  height: 80vh;
  margin-left: 0;
  margin-top: 10vh;
  z-index: 8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'naver_light';
}

.entry4Img {
  position: absolute;
  width: 100%;
  z-index: 3;
  opacity: 0.5;
  animation: hover 1s alternate infinite;
}

.entry5 {
  position: relative;
  width: 25vw;
  height: 50vh;
  border-radius: 2%;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.7);
  z-index: 3;
  opacity: 0;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.entry5-1 {
  position: relative;
  z-index: 2;
  background-color:seagreen;
  height: 200vh;
  width: 80vw;
  transform: rotate(20deg);
  left: 100vw;
  top: -30vh;
}

.entry5-2 {
  font-family: baemin;
  font-size: 5vh;
  z-index: 4;
}

.entry5-3 {
  z-index: 6;
  width: 100vw;
  height: 200vh;
  background-color: #fff;
  position: relative;
  transform: rotate(20deg);
  top: -70vh;
  left: 100vw;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
}

.entry5-4 {
  width: 50vw;
  height: 200vh;
  background-color:#fff;
  position: absolute;
  z-index: 7;
  top: -20vh;
  margin-left: 39vw;
  display: flex;
  justify-content: right;
}

.entry5-5 {
  width: 30vw;
  height: 80vh;
  margin-right: 0vw;
  margin-top: 10vh;
  z-index: 8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'naver_light';
  background-color: #fff;
}

.entry5Img {
  position: absolute;
  width: 100%;
  z-index: 3;
  opacity: 0.5;
  animation: hover 1s alternate infinite;
}

.entry6 {
  font-family: baemin;
  font-size: 3vh;
  cursor: pointer;
}

@keyframes left-to-right {
  from {
    opacity: 0;
    right: 100vw;
  } 
  to {
    opacity: 1;
    right: 0vw;
  } 
}

@keyframes right-to-left {
  from {
    opacity: 0;
    left: 100vw;
  } 
  to {
    opacity: 1;
    left: 0vw;
  } 
}

@keyframes left-to-right2 {
  from {
    right: 100vw;
  } 
  to {
    right: -3vw;
  } 
}

@keyframes right-to-left2 {
  from {
    left: 100vw;
  } 
  to {
    left: -3vw;
  } 
}

@keyframes top-to-bottom {
  from {
    top: 25vh;
  } 
  to {
    top: 120vh;
  } 
}

@keyframes hover {
  from {
    top: 10px;
  }
  to {
    top: -10px;
  }
}

@keyframes entry-join {
  from {
    left: 100vw;
  } 
  to {
    left: -100vw;
  } 
}

@keyframes entry-create {
  from {
    left: -100vw;
  } 
  to {
    left: 100vw;
  } 
}

.entry-lr {
  animation: left-to-right 1s ease;
  animation-fill-mode: forwards;
}

.entry-rl {
  animation: right-to-left 1s ease;
  animation-fill-mode: forwards;
}

.entry-tb {
  animation: top-to-bottom 1.2s ease;
  animation-fill-mode: forwards;
}

.entry-lr2 {
  animation: left-to-right2 0.8s ease;
  animation-fill-mode: forwards;
}

.entry-rl2 {
  animation: right-to-left2 0.8s ease;
  animation-fill-mode: forwards;
}

.entry-create {
  animation: entry-create 1s ease;
  animation-fill-mode: forwards;
}

.entry-join {
  animation: entry-join 1s ease;
  animation-fill-mode: forwards;
}


