.entry-mobile {
    width: 100vw;
    height: 100vh;
    background-color: #DE5E59;
    display: flex;
    flex-direction: column;
}

.entry-mobile img {
    width: 90vw;
    justify-self: center;
    align-self: center;
    margin-top: 10vh;

}

.entry-mobile-trip-list {
    width: 80vw;
    height: 60vh;
    background-color: #EEE;
    justify-self: center;
    align-self: center;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3%;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
}

.entry-mobile-trip-list h3 {
    font-size: 3vh;
    color: #444;
}

.entry-mobile-list-container {
    width: 65vw;
    height: 45vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.trip-card-mobile {
    width: 55vw;
    background-color: #DE5E59;
    margin-left: 2vw;
    border-radius: 3%;
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    padding-left: 4vw;
}

.trip-card-mobile p {
    color: #EEE;
}