body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
	font-family: "baemin";
	src: url(@assets/fonts/font1.ttf);
}

@font-face {
	font-family: "naver_bold";
	src: url(@assets/fonts/naver_bold.ttf);
}

@font-face {
	font-family: "naver_light";
	src: url(@assets/fonts/naver_light.ttf);
}

@font-face {
  font-family: "google1";
  src: url(@assets/fonts/google1.ttf);
}

@font-face {
  font-family: "tmon";
  src: url(@assets/fonts/tmon.ttf);
}


.root {
  margin : 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top:50px;
  padding-bottom:50px;
  
}

.upperBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  margin-bottom:50px;
  background-color: transparent;
}

.content {
  display: flex;
  flex-direction: row;
  justify-items: center;
}


.add {
  position: relative;
  animation: add-column 1s ease-in-out;
}

.sub {
  position: relative;
  animation: sub-column 1s ease-in-out;
  animation-fill-mode: forwards;
}


@keyframes add-column {
  from{
    left: -220px;
    opacity: 0;
  }
  to{
    left: 0px;
    opacity: 1;
  }
}

@keyframes sub-column {
  from{
    left: 0px;
    opacity: 1;
  }
  to{
    left: -220px;
    opacity: 0;
  }
}




